<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Signin</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required />
              <div *ngIf="loginForm.submitted && !username" class="invalid-feedback d-block">
                Username is required.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required />
              <div *ngIf="loginForm.submitted && !password" class="invalid-feedback d-block">
                Password is required.
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">Login</button>
          </form>
        </div>
      </div>
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        <p>{{ successMessage }}</p>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </div>
  </div>
</div>