<div class="login">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required />
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  
    
    <div *ngIf="successMessage" class="success-message">
      <p>{{ successMessage }}</p>
    </div>
  
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  