.home {
    text-align: center;
    margin-top: 50px;
  }
  
  .home h2 {
    font-size: 2.5em;
    color: #333;
  }
  
  .home a {
    font-size: 1.2em;
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
  }
  
  .home a:hover {
    text-decoration: underline;
  }
  
  
  